@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav > div > h1 {
  font-size: 44px;
  font-weight: 700;
}

.button {
	outline: none;
	background: none;
	border: 1px solid #1d7838;
	padding: 15px 20px;
	text-align: left;
	color: #1d7838;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.button:hover {
	background-color: #1d7838;
	color: #fff;
}

.user_info {
  padding: 10px 0;
  
}

.user_info > div > p {
  font-size: 14px;
  line-height: 5px;
}

.basic_info {
  display: flex;
  height: 150px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #000;
}

.basic_info > div {
  flex: 1;
}

.basic_info > div > h1 {
  font-size: 20px;
}

input {
	width: 70%;
	height: 34px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	font-size: 16px;
	padding-bottom: 1px;
}

.info_subbox {
  border-left: 1px solid #000;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.redirect_button {
  padding: 7px 20px;
  font-size: 14px;
  margin-left: 10px;
}